
h1 {
    font-family: 'Lobster', cursive;
    color: rgb(60, 22, 92);
    font-size: 100px;
    background-color: rgb(127, 187, 67);
    opacity: 0.6;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(C:\Users\raivi\OneDrive\Dokumenti\web-projects\Home-work\images\paradise.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
p {
    font-size: 30px
}
.lielaks-teksts {
    font-size: 20px;
}
footer {
    text-align: center;
    font-size: 25px;
    border-width: 3px;
    border-color: rgb(56, 27, 27);
    border-style: solid;
    background-color: rgb(65, 216, 140);
}
